:root {
    --text-primary: #ffffff;
    --main-color: #E0692F;
    --border-color: #484848;
    --bg-primary: #161616;
    --bg-secondary: #242424;
  }
body{
    background-color: var(--bg-secondary);
    margin: 0px;
    color:var(--text-primary);
    font-family:Courier New;
}
.title {
	font-size: 80px;
	color: var(--main-color);
}
#nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 0;
    background-color: var(--bg-primary);
    text-align: center;
    font-weight: 700 ;
    height: 54px;      
}
ol {
    text-shadow: 1px 1px 1px var(--bg-primary);
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 22px;
    height: 40px;
    line-height: 200%;
    display: inline-block;
}

    ol a {
        color: var(--text-primary);
        padding-top: 5px;
        text-decoration: none;
        display: block;
    }

    ol > li {
        float: left;
        width: 190px;
        height: 50px;
        margin-right:10px;
        
    }
        ol > li:hover {
            background-color: var(--main-color);
            
        }

            ol > li:hover > a {
                color: var(--bg-primary);
                text-shadow: 0px 0px 0px;
            }

        ol > li > ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            height: 40px;
            display: none;
        }

        ol > li:hover > ul {
            display: block;
        }

        ol > li > ul > li {
            background-color: var(--bg-primary);
            position: relative;
            z-index: 100;
            border: 1px solid var(--border-color);          
           
            }

            ol > li > ul > li:hover {
                background-color: var(--main-color);               
                
            }

                ol > li > ul > li:hover > a {
                    color: var(--bg-primary);
                    text-shadow: 0px 0px 0px;                    
                }
                
               
               