@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
  --text-primary: #ffffff;
  --main-color: #E0692F;
  --bg-primary: #161616;
  --bg-secondary: #242424;
  --bg-thirdary: #323232;
}
body{
  background-color: var(--bg-secondary);
  margin:0;
  font-family: 'Open Sans', sans-serif;
}
#nav{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--text-primary);
  height: 50px;
  font-weight: 500;
}
#logo{
  float: left;
  background-color: var(--main-color);
  height: 50px;
  width: 15%;
  
}
#bar{
  float: left;
  height: 50px;
  width: 70%;
  font-size: 20px;
}
#lang{
  float: left;
  height: 50px;
  width: 15%;
}
.button{
  text-decoration: none;
  float:left;
  background-color:var(--bg-primary);
  display: block;
  width: 20%;
  height: 40px;
  text-align: center;
  align-items: center;
  padding-top: 10px;
}
.linknav:link{
 
  text-decoration: none;
  color:var(--text-primary);
  text-align: center;
}
.linknav:visited{
   text-decoration: none;
  color:var(--text-primary);
  text-align: center;
}
.linknav:active{
  text-decoration: none;
  color:var(--text-primary);
  text-align: center;
} 
.linknav:hover{
  text-decoration: none;
  color: var(--main-color);
  text-align: center;
} 
.buttonlang{
  text-decoration: none;
  float:left;
  background-color:var(--bg-primary);
  display: block;
  width: 50%;
  height: 42px;
  text-align: center;
  align-items: center;
  padding-top: 8px;
}
.linknlang:link{
 
  text-decoration: none;
  color: var(--text-primary);
  text-align: center;
}
.linklang:visited{
   text-decoration: none;
  color:var(--text-primary);
  text-align: center;
}
.linklang:active{
  text-decoration: none;
  color:var(--text-primary);
  text-align: center;
} 
.linklang:hover{
  text-decoration: none;
  color: var(--main-color);
  text-align: center;
} 
.flag{
  width: 40px;
  height: 40px;
}
.logoimg{
  width: 230px;
  height: 50px;
}
#content{
  margin-right: auto;
  margin-left: auto;
  background-color: var(--bg-thirdary);
  width: 1000px;
  height: 1000px;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
  background:var(--main-color);
}