@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
  --font-size: 20px;
  --text1: #ffffff;
  --text2: #ccc;
  --main-color: #60BF56;
  --nav-footer: #161616;
  --bg: #242424;
  --content: #323232;

}
html{
  scroll-behavior: smooth;
}
body{
  background-color: var(--bg);
  margin:0;
  font-family: 'Open Sans', sans-serif;
  
}
.dark_theme {
  --text1: #ffffff;
  --text2: #ccc;
    /*--main-color: #E0692F;*/
  --main-color: #60BF56;
  --nav-footer: #161616;
  --bg: #242424;
  --content: #323232;
}
.light_theme {
  --text1: #ffffff;
  --text2: #242222;
  /*--main-color: #EF233C;*/
  --main-color: #7cbdff;
  --nav-footer:#24222E;
  --bg:#C7C8CC;
  --content: #FFF;
}
.access_theme {
  --text1: #FFFF00;
  --text2: #ffffff;
  --main-color: #00FF00;
  --nav-footer: #000;
  --bg: #000;
  --content: #111;
}
.zoomOut {
  --font-size: 20px;
}
.zoomIn {
  --font-size: 26px;
}
.iconsdark {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  color: var(--text1);
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
  user-select: none;
  cursor: pointer;
}
.iconslight {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  color: var(--text1);
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
  user-select: none;
  cursor: pointer;
}
.iconsaccess {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  color: var(--text1);
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
  user-select: none;
  cursor: pointer;
}
#zoomIcon {
  font-size: 42.5px;
}
#nav{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--text1);
  height: 50px;
  font-weight: 500;
}
#logo{
  float: left;  
  height: 50px;
  width: 15%;
  background-color: var(--main-color);
}
#bar{
  float: left;
  height: 50px;
  width: 70%;
  font-size: var(--font-size);
}
#lang{
  float: left;
  height: 50px;
  width: 15%;
}
.buttonbig{
  text-decoration: none;
  float:left;
  background-color:var(--nav-footer);
  width: 32%;
  height: 50px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.button{
  text-decoration: none;
  float:left;
  background-color:var(--nav-footer);
  display: block;
  width: 17%;
  height: 50px;
  display: flex;
  text-align: center;  
  align-items: center;
  justify-content: center;
  
}
.buttonmore{
  text-decoration: none;
  float:left;
  background-color:var(--nav-footer);
  display: block;
  text-align: center;
  align-items: center;
  height: 50px;
  width: 17%;
  display: absolute;
  text-align: center;  
  align-items: center;
  justify-content: center;
  
}
.linknav:link{
  text-decoration: none;
  color:var(--text1);
  text-align: center;
}
.linknav:visited{
   text-decoration: none;
  color:var(--text1);
  text-align: center;
}
.linknav:active{
  text-decoration: none;
  color:var(--text1);
  text-align: center;
} 
.linknav:hover{
  text-decoration: none;
  color: var(--main-color);
  text-align: center;
} 
#changeToEnglish{
  text-decoration: none;
  float:left;
  background-color:var(--nav-footer);
  display: block;
  width: 25%;
  height: 50px;
  text-align: center;
  align-items: center;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#changeToPolish{
  text-decoration: none;
  float:left;
  background-color:var(--nav-footer);
  display: block;
  width: 25%;
  height: 50px;
  text-align: center;
  align-items: center;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#changeTheme{
  text-decoration: none;
  float:left;
  background-color:var(--nav-footer);
  display: block;
  width: 25%;
  height: 50px;
  text-align: center;
  align-items: center;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#changeFontSize{
  text-decoration: none;
  float:left;
  background-color:var(--nav-footer);
  display: block;
  width: 25%;
  height: 50px;
  text-align: center;
  align-items: center;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.iconsize{
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.logoimg{
  width: 230px;
  height: 50px;
}
#content{
  margin-right: auto;
  margin-left: auto;
  background-color: var(--content);
  color:var(--text2);
  width: 60%;
  height: 10000px;
}
body::-webkit-scrollbar {
  width:1rem;
}
::-webkit-scrollbar-button {
  background-color:var(--content);
}

body::-webkit-scrollbar-track {
  background: var(--nav-footer);
}

body::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
::-webkit-scrollbar-corner {
  background: var(--nav-footer);
}
#footer{
  width: 100%;
  height: 50px;
  background-color: var(--nav-footer);
}
#scrollup{
  display: none;
  position: fixed;
  bottom: 25px;
  right: 30px;
  z-index: 5;
  font-size: 18px;
  border: none;
  outline: none;  
  background-color: var(--main-color);
  cursor: pointer;
  padding: 15px;
  border-radius: 100px;
  width: 24px;
  height: 24px;
}
.scrollbuttonsvg{
  width: 24px;
  height: 24px;
}
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  align-items: center;
  line-height: 200%;
  display: inline-block;
  width: 100%;
  min-height: 50px;
  display: flex;
  text-align: center;  
  align-items: center;
  justify-content: center;
}
  ol a {
  padding-top: 0;
  color: var(--text1);
  text-decoration: none;
  display: block;
  width: 100%;
  display: absolute;
  text-align: center;  
  align-items: center;
  justify-content: center;
}
ol > li {
  float: left;
  width: 100%;
}
ol > li:hover {
 background-color: var(--nav-footer);
}
ol > li:hover > a {
  color: var(--main-color);
  text-shadow: 0px 0px 0px;
}
ol > li > ul {
 list-style-type: none;
  padding: 0;
  margin: 0;
  height: 50px;
  display: none;
}

ol > li:hover > ul {
  display: block;
}

ol > li > ul > li {
  background-color: var(--nav-footer);
  position: relative;
  z-index: 100;
  border-top: 0.5px solid #ccc;
  
}

ol > li > ul > li:hover {
  background-color: var(--nav-footer);
 }

ol > li > ul > li:hover > a {
  color: var(--main-color);
}
#project{
 height: 50px;
 display: flex;
 text-align: center;  
  align-items: center;
  justify-content: center;
}